body{
    background-color: antiquewhite;
}
div{
    background-color: orange;
    color: white;
    text-align: center;
    margin-top: 70px;
}
p{
    color: red;
    text-align: center;
    padding: 10px;
    font-size: larger;
}